<!-- <h1>Hola Mundo</h1><br>
<input class="form-control" type="text" name="" [(ngModel)]="title" value="">
<br> -->

<!-- Cuando se pone el value con corchetes significa que vas a trabajar con las variables del typescript -->
<!-- <input class="form-control" type="text" name="" [value]="miNombre">
<br>
{{title}}
<br> -->
<!-- {{miNombre}} -->
<!-- <input type="number" id="numero1" [(ngModel)]="a">
<br>
<input type="number" id="numero2" [(ngModel)]="b">
<br>
<button class="btn btn-danger" (click)="Sumar()">Sumar</button>
<br>{{suma}} -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: rgb(24, 24, 24);">
      <a class="navbar-brand text-light" href="#">Criptomonedas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink] = "['/criptomoneda/lista']"> Lista criptomonedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mas opciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Accion 1</a></li>
              <li><a class="dropdown-item" href="#">Accion 2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Otra accion</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn btn-dark" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container">
<router-outlet></router-outlet>
</div>
